body{
	background-color: beige;
	size: ;
}
table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	caption-side: top;
}
th, td{
	border: 1px solid black;
}
li a{

}
/*Fondo para los impares*/
table tr:nth-child(odd){
	background-color: white;
}
/*Fondo para los pares*/
table tr:nth-child(even){
	background-color: powderblue;
}
table tr th{
	border: 1px solid black;
	background-color: lightblue;
	color: black;
}
table tr:hover{
	background-color: violet;
	color: black;
}
