body {
    background-color: powderblue;
    
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}

.boton {
    padding: 15px;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.galeria img {
    width: 150px;
    height: 150px;
}

.boton:hover ~ .galeria img {
    visibility: hidden;
}
